body{
    font-family:'Times New Roman', Times, serif;
    color: rgb(27, 27, 27);
    letter-spacing: 1px;
}

h1,h2{
    font-weight: normal;
}

#wrapper{
    width: 90%; 
    max-width: 800px;  
    margin: 20px auto;
    box-shadow: 6px 2px 5px rgb(0, 0, 0, 0.5);
    padding: 0 0 20px;
    border: 2px solid rgb(211, 211, 211, 0.877);
}

#page-top{
    background: rgb(107, 230, 114);
    padding: 10px 0;

}

#page-top h1,
#page-top p{
    text-align: center;
    margin: 0.5rem 0;
}

#page-top input{
    width:90%;
    max-width: 250px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid rgb(221, 221, 211, 0.7);
    font-size: 1rem;
    color: rgb(49, 49, 49);
}

#check{
    max-width: 280px;
    margin: 10px auto;
    text-align: center;
}

#check #hide{
    width: 10%;
    margin: 0;
    display:inline-block;
}

